*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.header{
    margin: 20px 0;
    height: 100px;
    background-color: #e579e6;
}

.first-box{
    height: 300px;
    background-color: #e1d67a;
    margin-bottom: 20px;
}

.second-box{
    height: 75px;
    background-color: #abcfe7;
}

.third-box{
    height: 300px;
    background-color: #0088ff;
    margin-bottom: 10px;
}

.third-box::after{
    content: '';
    display: table;
    clear: both;
}

.footer{
    height: 50px;
    background-color: #8801fe;
}

.float{
    float: left;
    margin: 20px 0;
}

#box-1{
    width: 25%;
    height: calc(100% - 40px);
    background-color: #abcfe7;
}

#box-2{
    width: 50%;
    height: calc(100% - 40px);
    background-color: #abcfe7;
}

#box-3{
    width: 25%;
    height: calc(100% - 40px);
    background-color: #abcfe7;
}